/* basic styles */
body {
  background-color: #333;
  background-image: linear-gradient(to bottom, #222, #444);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}
code {
  font-weight: normal;
  font-family: 'Ubuntu Mono', monospace;
  /*font-size: 110%;*/
}
h1:first-child, h2:first-child {
  margin-top: 0;
}
h2 > em {
  font-size: smaller;
}
h2 > a {
  text-decoration: none;
}
h2 > a:focus, h2 > a:hover {
  text-decoration: underline;
}

tbody > tr:nth-child(even) {
  background-color: #ededed;
}
td, th {
  padding: 4px 8px;
  padding: .25em .5em;
}

article {
  background-image: none;
  background-color: #fff;
  margin: 16px auto;
  margin: 1rem auto;
  max-width: 800px;
  max-width: 50rem;
  padding: 16px;
  padding: 1rem;
}

/* widget styles */

table.pts-results {
  display: inline-table;
  margin-left: 1em;
}

/* social button styles */
.right {
  text-align: right;
}

header .pure-button.social {
  font-size: 90%;
}

.pure-button.google {
  background-color: #dd4b39;
  color: #fff;
}
.pure-button.google:active {
  background-color: #fff;
  color: #dd4b39;
}
.pure-button.google:focus, .pure-button.google:hover {
  background-color: #dd4b39;
  color: #fff;
  opacity: .90;
}

.pure-button.twitter {
  background-color: #55acee;
  color: #f5f8fa;
}
.pure-button.twitter:active {
  background-color: #f5f8fa;
  color: #55acee;
}
.pure-button.twitter:focus, .pure-button.twitter:hover {
  background-color: #55acee;
  color: #f5f8fa;
  opacity: .90;
}

.pure-button.github {
  background-color: #ddd;
  color: #000;
}
.pure-button.github:active {
  background-color: #4183c4;
  color: #ddd;
}
.pure-button.github:focus, .pure-button.github:hover {
  background-color: #ccc;
  color: #4183c4;
}

.pure-button.stackexchange {
  background-color: #2a3b5c;
  color: #eee;
}
.pure-button.stackexchange:active {
  background-color: #eee;
  color: #2a3b5c;
}
.pure-button.stackexchange:focus, .pure-button.stackexchange:hover {
  background-color: #2a3b5c;
  color: #eee;
  opacity: .90;
}

/* override pure.css */
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: 'Roboto', sans-serif;
}

/* override disqus */
#disqus_thread {
  background-color: #ddd;
  margin: 16px auto;
  margin: 1rem auto;
  max-width: 800px;
  max-width: 50rem;
  padding: 16px;
  padding: 1rem;
}

/* site title */
h1.site {
  color: #fff;
  margin: 8px;
  margin: .5rem;
}
h1.site > a:link, h1.site > a:visited {
  text-decoration: none;
  color: inherit;
}
