.DS_Store
/_site

# BitTorrent Sync
/.SyncID
/.SyncIgnore
/.SyncArchive

# ignore IDE files
/.idea/workspace.xml
/.idea/dictionaries

# ignore 3rd-party files
/_vendor
node_modules

# ignore bower devDependencies
bower_components/modernizr
bower_components/prism
bower_components/requirejs
