<table class="pts-results">
  <caption>{{ result.caption }}</caption>
  <thead>
  <tr>
    <th>configuration</th>
    <th>score</th>
    <th>error</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="3">
      {{ result.footer }}
    </td>
  </tr>
  </tfoot>
  <tbody>
  {% for row in result.rows %}
  <tr>
    <td>{{ row.config }}</td>
    <td>
      <meter min="0" max="{{ result.max }}" value="{{ row.score }}">
        {{ row.score }}
      </meter>
      <output aria-hidden="true">{{ row.score }}</output>
    </td>
    <td>&plusmn; {{ row.error }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
