<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed" />
    <link href="/bower_components/pure/pure-min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" />
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>-->
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <script src="/js/min/require.min.js"></script>
  </head>
  <body>
    <nav class="pure-menu pure-menu-open pure-menu-horizontal" role="navigation">
      <a href="/" class="pure-menu-heading">jokeyrhy.me</a>

      <ul class="pure-menu-children">
        {% if page.title == "jokeyrhy.me" or site.related_posts %}
        <li class="pure-menu-selected">
          <a href="/">Blog</a>
        </li>
        {% else %}
        <li>
          <a href="/">Blog</a>
        </li>
        {% endif %}
        {% if page.title == "stuff" %}
        <li class="pure-menu-selected">
          <a href="/stuff">Stuff</a>
        </li>
        {% else %}
        <li>
          <a href="/stuff">Stuff</a>
        </li>
        {% endif %}
        <li class="pure-menu-can-have-children">
          <a href="#" class="pure-menu-label">Me</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-heading">Social Networks</li>
            <!--<li class="pure-menu-separator"></li>-->
            <li>
              <a class="social google" href="/+">
                <i class="fa fa-google-plus"></i>
                Google+
              </a>
            </li>
            <li>
              <a class="social twitter" href="/@">
                <i class="fa fa-twitter"></i>
                Twitter
              </a>
            </li>
            <li>
              <a class="social github" href="/github">
                <i class="fa fa-github"></i>
                GitHub
              </a>
            </li>
            <li>
              <a class="social stackexchange" href="/stack">
                <i class="fa fa-stack-exchange"></i>
                StackExchange
              </a>
            </li>
            <li>
              <a class="social codeschool" href="//www.codeschool.com/users/jokeyrhyme">
                <span aria-hidden="true">&lt;&gt;</span>
                Code School
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <main class="pure-g-r">
      <div class="pure-u-1">
        {{ content }}
      </div>
    </main>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35575406-1']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script');
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
