<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.min.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/foundation.min.css"/>
  <style>
    code {
      font-weight: normal;
    }
    ol, ul {
      margin-left: 2em;
    }
    li:last-child {
      margin-bottom: 1.5em;
    }
    h2 > em {
      font-size: smaller;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body>
<header class="row">
  <div class="small-12 large-12 columns">
    <h1><a href="/">jokeyrhy.me</a></h1>
  </div>
</header>
<main class="row">
  <div class="small-12 large-12 columns">
    {{ content }}
  </div>
</main>
<footer class="row">
  <div class="small-12 large-6 large-offset-6 columns">
    <h6>find me on...</h6>
    <ul class="button-group">
      <li><a class="small button alert" href="/+">Google+</a></li>
      <li><a class="small button" href="/@">Twitter</a></li>
      <li><a class="small button secondary" href="/github">GitHub</a></li>
      <li><a class="small button" href="/stack">StackExchange</a></li>
    </ul>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/foundation.min.js"></script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35575406-1']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
