<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.5/stylesheets/foundation.min.css" />
  <style>
    h2 > em {
      font-size: smaller;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.5/javascripts/modernizr.foundation.js"></script>
</head>
<body>
  <header class="row">
    <div class="twelve columns">
      <h1><a href="/">jokeyrhy.me</a></h1>
    </div>
  </header>
  <div class="row">
    <div class="twelve columns">
      {{ content }}
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.5/javascripts/foundation.min.js"></script>
</body>
</html>
